@use "../common/mixin.scss" as m;

section.production_selling_wrap {
  border: 1px solid gray;
  min-height: 1200px;
  div.production_selling_inner {
    border: 1px solid gray;
    min-height: 1200px;
  }
}
