div.admin_navbar {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaedef;
  box-sizing: border-box;
}
div.admin_navbar div.admin_logowrap {
  width: 100px;
  margin: 10px 20px;
}
div.admin_navbar div.admin_logowrap img {
  width: 100%;
}
div.admin_navbar h1.admin_title {
  width: 50%;
  font-size: 25px;
  font-weight: 600;
}
div.admin_navbar h1.admin_title a.admin_titlelink {
  padding: 11px 10px;
  text-align: center;
  width: 290px;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  color: var(--sky);
  background-color: var(--gray);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

nav.admin_navmenu {
  display: flex;
  margin: 0 auto;
  width: 40%;
}
nav.admin_navmenu a {
  margin-left: 5px;
  flex: 1;
  display: inline-block;
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  color: var(--sky);
  border-bottom: 2px solid var(--darkGray);
}
nav.admin_navmenu a:hover {
  background-color: var(--gray);
}

div.admin_section {
  padding: 30px 0;
}
div.admin_section div.admin_register {
  position: relative;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}
div.admin_section div.admin_register button.admin_regbtn {
  display: inline-block;
  padding: 11px 10px;
  text-align: center;
  width: 290px;
  line-height: 26px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #35c5f0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
div.admin_section div.admin_register div.admin_register_popup {
  position: absolute;
  margin: 0 auto;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  top: 70%;
  left: 50%;
  width: 35%;
  background: #fff;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
  box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
  transform: translateX(-50%);
  transition: all 0.2s;
  z-index: 10;
}
div.admin_section div.admin_register div.admin_register_popup.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
  z-index: 100;
}
div.admin_section div.admin_register div.admin_register_popup p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox label {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox .admin_product_category {
  width: 300px;
  height: 40px;
  font-size: 15px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox textarea.admin_update_productname {
  width: 364px;
  height: 80px;
  font-size: 15px;
  word-break: break-all;
  resize: none;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox input {
  display: block;
  padding: 0 15px;
  width: 368px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #424242;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-sizing: border-box;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox input.checkbox {
  margin-right: 10px;
  width: auto;
  font-size: 10px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content div.admin_register_contentwrap div.admin_register_contentbox span {
  margin-right: 5px;
}
div.admin_section div.admin_register div.admin_register_popup form.admin_register_content button.admin_editbtn {
  display: inline-block;
  margin-top: 30px;
  padding: 11px 10px;
  text-align: center;
  width: 290px;
  line-height: 26px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #35c5f0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
div.admin_section div.admin_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 95%;
}
div.admin_section div.admin_content > * {
  margin-bottom: 10px;
}
div.admin_section div.admin_content div.admin_content_option {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
div.admin_section div.admin_content div.admin_content_option select {
  margin-left: 5px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
}
div.admin_section div.admin_content table.admin_table {
  border: 1px solid #fff;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}
div.admin_section div.admin_content table.admin_table td,
div.admin_section div.admin_content table.admin_table th {
  padding: 3px 2px;
  line-height: 25px;
  border: 1px solid #fff;
}
div.admin_section div.admin_content table.admin_table tr:nth-child(even) {
  background: #d0e4f5;
}
div.admin_section div.admin_content table.admin_table thead {
  background-color: var(--sky);
  border-bottom: 5px solid #fff;
}
div.admin_section div.admin_content table.admin_table thead th {
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #fff;
}
div.admin_section div.admin_content table.admin_table thead th:first-child {
  border-left: none;
}
div.admin_section div.admin_content table.admin_table tbody tr:hover {
  color: var(--titleColor);
  font-weight: 600;
  background-color: var(--gray);
  cursor: pointer;
}
div.admin_section div.admin_content table.admin_table tbody tr.admin_inquiry_answer {
  display: none;
}
div.admin_section div.admin_content table.admin_table tbody tr.admin_inquiry_answer.active {
  display: table-row;
}
div.admin_section div.admin_content table.admin_table tbody tr.admin_inquiry_tr {
  border-bottom: 2px solid #35c5f0;
}
div.admin_section div.admin_content table.admin_table tbody tr td {
  padding: 10px 0;
  width: 80px;
  height: auto;
  table-layout: fixed;
  word-break: break-all;
  vertical-align: middle;
  font-size: 15px;
}
div.admin_section div.admin_content table.admin_table tbody tr td:first-of-type {
  width: 20px;
}
div.admin_section div.admin_content table.admin_table tbody tr td:nth-of-type(3) {
  width: 300px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_name {
  width: 150px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_content {
  width: 300px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_td {
  height: 100px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_td span {
  margin-right: 10px;
  vertical-align: top;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_td textarea {
  padding: 5px;
  outline: none;
  resize: none;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
  box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_inquiry_td button {
  margin-left: 10px;
  line-height: 55px;
  vertical-align: top;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #35c5f0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_order_td {
  width: 100px;
}
div.admin_section div.admin_content table.admin_table tbody tr td.admin_order_product {
  width: 200px;
}
div.admin_section div.admin_content table.admin_table tbody tr td img.admin_userimg {
  width: 30px;
}
div.admin_section div.admin_content table.admin_table tbody tr td button {
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
div.admin_section div.admin_content table.admin_table tbody tr td button:first-of-type {
  margin-right: 10px;
}
div.admin_section div.admin_content div.admin_update_popup {
  position: absolute;
  margin: 0 auto;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  top: 0%;
  width: 35%;
  background: #fff;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
  box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
  transform: translateY(-10px);
  transition: all 0.2s;
  z-index: 10;
}
div.admin_section div.admin_content div.admin_update_popup.active {
  visibility: visible;
  opacity: 1;
  transform: none;
  transition: all 0.2s ease;
  z-index: 100;
}
div.admin_section div.admin_content div.admin_update_popup p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox label {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox .admin_product_category {
  width: 300px;
  height: 40px;
  font-size: 15px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox textarea.admin_update_productname {
  width: 364px;
  height: 80px;
  font-size: 15px;
  word-break: break-all;
  resize: none;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox input:not(input[type=file]) {
  display: block;
  padding: 0 15px;
  width: 368px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #424242;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-sizing: border-box;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox input:not(input[type=file]).checkbox {
  margin-right: 10px;
  width: auto;
  font-size: 10px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox input[type=file] {
  width: 100px;
  font-size: 0px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox input[type=file]::file-selector-button {
  margin-left: 10px;
  font-size: 15px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox span {
  margin-right: 5px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content div.admin_update_contentwrap div.admin_update_contentbox .admin_update_image {
  width: 100px;
}
div.admin_section div.admin_content div.admin_update_popup form.admin_update_content button.admin_editbtn {
  display: inline-block;
  margin-top: 30px;
  padding: 11px 10px;
  text-align: center;
  width: 290px;
  line-height: 26px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #35c5f0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

img.admin_image {
  width: 50px;
}/*# sourceMappingURL=adminpage.css.map */