@use "../common/mixin.scss" as m;

div.admin_navbar {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaedef;
  box-sizing: border-box;
  div.admin_logowrap {
    width: 100px;
    margin: 10px 20px;
    img {
      width: 100%;
    }
  }
  h1.admin_title {
    width: 50%;
    font-size: 25px;
    font-weight: 600;
    a.admin_titlelink {
      padding: 11px 10px;
      text-align: center;
      width: 290px;
      line-height: 26px;
      font-weight: 700;
      font-size: 20px;
      color: var(--sky);
      background-color: var(--gray);
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
} //div.admin_banner
nav.admin_navmenu {
  display: flex;
  margin: 0 auto;
  width: 40%;
  a {
    margin-left: 5px;
    flex: 1;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
    color: var(--sky);
    border-bottom: 2px solid var(--darkGray);
    &:hover {
      background-color: var(--gray);
    }
  }
}

div.admin_section {
  padding: 30px 0;
  div.admin_register {
    position: relative;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    button.admin_regbtn {
      display: inline-block;
      padding: 11px 10px;
      text-align: center;
      width: 290px;
      line-height: 26px;
      font-weight: 700;
      font-size: 17px;
      color: #fff;
      background-color: #35c5f0;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
    } //button.admin_regbtn
    div.admin_register_popup {
      position: absolute;
      margin: 0 auto;
      padding: 50px;
      visibility: hidden;
      opacity: 0;
      top: 70%;
      left: 50%;
      width: 35%;
      background: #fff;
      border: 1px solid rgb(218, 221, 224);
      border-radius: 6px;
      box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
      transform: translateX(-50%);
      transition: all 0.2s;
      z-index: 10;
      &.active {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease;
        z-index: 100;
      }
      p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
      }
      form.admin_register_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.admin_register_contentwrap {
          div.admin_register_contentbox {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            label {
              display: block;
              height: 40px;
              line-height: 40px;
              width: 100px;
            }
            .admin_product_category {
              width: 300px;
              height: 40px;
              font-size: 15px;
              border: 1px solid rgb(218, 221, 224);
              border-radius: 6px;
            }
            textarea.admin_update_productname {
              width: 364px;
              height: 80px;
              font-size: 15px;
              word-break: break-all;
              resize: none;
              border: 1px solid rgb(218, 221, 224);
              border-radius: 6px;
            }
            input {
              display: block;
              padding: 0 15px;
              width: 368px;
              height: 40px;
              line-height: 40px;
              font-size: 15px;
              color: #424242;
              background-color: #fff;
              border: 1px solid #dbdbdb;
              border-radius: 6px;
              box-sizing: border-box;
              &.checkbox {
                margin-right: 10px;
                width: auto;
                font-size: 10px;
              }
            }
            span {
              margin-right: 5px;
            }
          } //div.admin_update_contentbox
        }
        button.admin_editbtn {
          display: inline-block;
          margin-top: 30px;
          padding: 11px 10px;
          text-align: center;
          width: 290px;
          line-height: 26px;
          font-weight: 700;
          font-size: 17px;
          color: #fff;
          background-color: #35c5f0;
          border: none;
          border-radius: 4px;
          box-sizing: border-box;
        }
      } //div.admin_update_content
    } //div.admin_update_popup
  }
  div.admin_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 95%;
    & > * {
      margin-bottom: 10px;
    }
    div.admin_content_option {
      display: flex;
      justify-content: space-between;
      width: 90%;
      select {
        margin-left: 5px;
        font-size: 15px;
        border: 1px solid #d9d9d9;
      }
    } //div.admin_content_count
    table.admin_table {
      border: 1px solid #fff;
      width: 90%;
      text-align: center;
      border-collapse: collapse;
      td,
      th {
        padding: 3px 2px;
        line-height: 25px;
        border: 1px solid #fff;
      } //td, th
      tr:nth-child(even) {
        background: #d0e4f5;
      } //tr:nth-child(even)
      thead {
        background-color: var(--sky);
        border-bottom: 5px solid #fff;
        th {
          height: 60px;
          line-height: 60px;
          font-size: 17px;
          font-weight: bold;
          color: #fff;
          border-left: 2px solid #fff;
          &:first-child {
            border-left: none;
          }
        } //th
      } //thead
      tbody {
        tr {
          &:hover {
            color: var(--titleColor);
            font-weight: 600;
            background-color: var(--gray);
            cursor: pointer;
          }
          td {
            padding: 10px 0;
            width: 80px;
            height: auto;
            table-layout: fixed;
            word-break: break-all;
            vertical-align: middle;
            font-size: 15px;
            &:first-of-type {
              width: 20px;
            }
            &:nth-of-type(3) {
              width: 300px;
            }
            img.admin_userimg {
              width: 30px;
            }
            button {
              font-size: 15px;
              background-color: #fff;
              border: 1px solid #d9d9d9;
              cursor: pointer;
              &:first-of-type {
                margin-right: 10px;
              }
            }
          } //td
        } //tr
      } //tbody
    } //table
    div.admin_update_popup {
      position: absolute;
      margin: 0 auto;
      padding: 50px;
      visibility: hidden;
      opacity: 0;
      top: 0%;
      width: 35%;
      background: #fff;
      border: 1px solid rgb(218, 221, 224);
      border-radius: 6px;
      box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
      transform: translateY(-10px);
      transition: all 0.2s;
      z-index: 10;
      &.active {
        visibility: visible;
        opacity: 1;
        transform: none;
        transition: all 0.2s ease;
        z-index: 100;
      }
      p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
      }
      form.admin_update_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.admin_update_contentwrap {
          div.admin_update_contentbox {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            label {
              display: block;
              height: 40px;
              line-height: 40px;
              width: 100px;
            }
            .admin_product_category {
              width: 300px;
              height: 40px;
              font-size: 15px;
              border: 1px solid rgb(218, 221, 224);
              border-radius: 6px;
            }
            textarea.admin_update_productname {
              width: 364px;
              height: 80px;
              font-size: 15px;
              word-break: break-all;
              resize: none;
              border: 1px solid rgb(218, 221, 224);
              border-radius: 6px;
            }
            input:not(input[type=file]) {
              display: block;
              padding: 0 15px;
              width: 368px;
              height: 40px;
              line-height: 40px;
              font-size: 15px;
              color: #424242;
              background-color: #fff;
              border: 1px solid #dbdbdb;
              border-radius: 6px;
              box-sizing: border-box;
              &.checkbox {
                margin-right: 10px;
                width: auto;
                font-size: 10px;
              }
            }
            input[type=file]{
              width: 100px;
              font-size: 0px;
              &::file-selector-button{
                margin-left: 10px;
                font-size: 15px;
              }
            }
            span {
              margin-right: 5px;
            }
            .admin_update_image{
              width: 100px;
            }
          } //div.admin_update_contentbox
        }
        button.admin_editbtn {
          display: inline-block;
          margin-top: 30px;
          padding: 11px 10px;
          text-align: center;
          width: 290px;
          line-height: 26px;
          font-weight: 700;
          font-size: 17px;
          color: #fff;
          background-color: #35c5f0;
          border: none;
          border-radius: 4px;
          box-sizing: border-box;
        }
      } //div.admin_update_content
    } //div.admin_update_popup
  } //div.admin_content
} //div.admin_section

img.admin_image {
  width: 50px;
}
