@use "../common/mixin.scss" as m;

div.banner_wrap{
  position: relative;
  //display: none; /* test 할 때는 flex로 바꿔주기!! 삭제===== */
  display: flex;
  width: 100%;
  height: 50px;
  a {
    flex: 1;
    &.banner_wrap_left{
      background-color: #232323;
      background-image: url(https://bucketplace-v2-development.s3.amazonaws.com/uploads/store/banners/store_top_banners/169900000560918442.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 83%;
    }
    &.banner_wrap_right{
      background-color: #00bbff;
      background-image: url(https://bucketplace-v2-development.s3.amazonaws.com/uploads/store/banners/store_top_banners/164724005925465141.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 17%;
      button{
        position: absolute;
        padding: 10px;
        height: 50px;
        line-height: 50px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
      .banner_wrap_close{
        display: block;
        font-size: 30px;
        color: #FFF;
      }
      }
    }
  }
}//div.banner_wrap
