div.error_content{
  margin: 70px auto 0;
  position: relative;
  text-align: center;
  z-index: 100;
}
div.error_content img{
  margin-bottom: 200px;
}
div.error_content h1{
  margin-bottom: 60px;
  font-size: 120px;
  font-weight: bold;
  color: var(--sky);
}
div.error_content div.error_text{
  font-size: 28px;
}
div.error_content p{
  margin: 30px 0;
  font-size: 20px;
  line-height: 24px;
}