footer.main_footer {
  height: 240px;
  background: #F7F9FC;
  font-size: 12px;
  padding: 40px 0 10px 0;
}
footer.main_footer div.main_footer_layout {
  display: flex;
  height: 100%;
}
footer.main_footer div.main_footer_layout > div {
  width: 240px;
  height: 100%;
  padding: 0 30px;
}
footer.main_footer div.main_footer_layout > div:not(.main_footer_right) {
  border-right: 1px solid var(--headerBorder);
}
footer.main_footer div.main_footer_layout a:hover {
  text-decoration: underline;
}
footer.main_footer div.main_footer_layout .main_footer_left {
  padding-left: 0;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_center {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_phone_box {
  font-size: 14px;
  margin: 20px 0 8px 0;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_phone_box .main_footer_phone {
  font-size: 16px;
  font-weight: 700;
  margin-right: 6px;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_day {
  white-space: pre-wrap;
  line-height: 20px;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_inquire {
  font-size: 14px;
  margin-top: 12px;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_inquire button {
  cursor: pointer;
  margin-bottom: 12px;
}
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_inquire button,
footer.main_footer div.main_footer_layout .main_footer_left .main_footer_customer_inquire a {
  display: inline-block;
  height: 32px;
  background: transparent;
  border: 1px solid var(--headerBorder);
  line-height: 32px;
  text-align: center;
  padding: 0 8px;
}
footer.main_footer div.main_footer_layout .main_footer_center {
  display: grid;
  gap: 20px 10px;
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: column;
}
footer.main_footer div.main_footer_layout .main_footer_center :nth-child(4) {
  font-weight: 900;
}
footer.main_footer div.main_footer_layout .main_footer_right {
  width: 507px;
  padding-right: 0;
  line-height: 20px;
}
footer.main_footer div.main_footer_layout .main_footer_right ul, footer.main_footer div.main_footer_layout .main_footer_right .main_footer_small_text_box {
  margin: 12px 0;
}
footer.main_footer div.main_footer_layout .main_footer_right div *:not(:last-child):after {
  content: "";
  width: 1px;
  height: 12px;
  background: var(--darkGray);
  display: inline-block;
  margin: 0px 4px;
  vertical-align: middle;
}
footer.main_footer div.main_footer_layout .main_footer_right div address {
  display: inline-block;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_small_text_box {
  font-size: 10px;
  line-height: 14px;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_small_text_box a {
  font-weight: 700;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_icon_box {
  display: flex;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_icon_box li {
  width: 114px;
  border: 1px solid #828C94;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 6px;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_icon_box li:first-child {
  width: 167px;
  font-size: 10px;
  text-align: left;
  line-height: 14px;
  padding: 0 6px;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_icon_box li img {
  display: inline-block;
  height: 32px;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li {
  display: inline-block;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li:nth-child(1) a {
  background-image: url("../../../public/imgae/sns_icon1.svg");
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li:nth-child(2) a {
  background-image: url("../../../public/imgae/sns_icon2.svg");
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li:nth-child(3) a {
  background-image: url("../../../public/imgae/sns_icon3.svg");
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li:nth-child(4) a {
  background-image: url("../../../public/imgae/sns_icon4.svg");
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li:nth-child(5) a {
  background-image: url("../../../public/imgae/sns_icon5.svg");
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  opacity: 40%;
  border-radius: 100%;
  display: inline-block;
  color: #FFF;
  text-align: center;
  line-height: 24px;
  margin-right: 14px;
}
footer.main_footer div.main_footer_layout .main_footer_right .main_footer_sns_icon li a:hover {
  opacity: 50%;
}/*# sourceMappingURL=footer.css.map */