<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/reset.css">
  <script src="./js/script.js"></script>

  <!-- 모듈방식으로하면 안됌 -->
  <title>관리자페이지</title>
</head>

<body>
  <header>
    <div class="inner">
      <h1>관리자페이지</h1>
      <nav class="gnb">
        <ul>
          <li class="admin_btn">고객관리</li>
          <li class="employee_btn">사원관리</li>
          <li class="product_btn">상품관리</li>
          <li class="order_btn">주문관리</li>
          <li class="ordetail_btn">판매관리</li>
          <li class="sales_btn">매출관리</li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="inner main_inner">
      <div class="function_wrap">
        <p class="count_all">
        </p>
        <a class="customer_create" href="./template/cjoin.html">회원추가</a>
        <a class="delete_btn customer_delete_btn employee_delete_btn" href="#">회원탈퇴</a>
      </div>
      <form style="display:none;" class="unregister_form" action="/unregister" method="post" name="unregister">
        <p>회원탈퇴 후 데이터는 30일간 보존됩니다.</p>
        <input id="id" type="text" name="id" placeholder="아이디를 입력하세요">
        <input type="text" name="password" placeholder="비밀번호를 입력하세요">
        <button class="unregister_btn" type="submit">회원탈퇴</button>
      </form>
      <form class="retire_form" action="/retire" method="post" name="unregister">
        <p>사원탈퇴 후 데이터는 30일간 보존됩니다.</p>
        <input id="id" type="text" name="id" placeholder="아이디를 입력하세요">
        <input type="text" name="password" placeholder="비밀번호를 입력하세요">
        <button class="unregister_btn" type="submit">퇴사</button>
      </form>
      <form class="update_form" action="/update" method="post" name="update">
        <p style="margin-bottom: 10px;">사원 업데이트</p>
        <input id="id" type="text" name="id" placeholder="아이디를 입력하세요">
        <input id="name" name="name" type="text" placeholder="이름을 입력하세요">
        <input id="gender" name="gender" type="radio" value="남자">남자
        <input id="gender" name="gender" type="radio" value="여자">여자
        <input id="phone" name="phone" type="text" placeholder="핸드폰번호 입력하세요">
        <input id="email" name="email" type="text" placeholder="이메일 입력하세요">
        <button type="submit">업데이트</button>
      </form>
      <form class="product_form" name="product" action="/createProduct/product" method="post">
        <input name="id" type="text" placeholder="상품코드입력">
        <input name="name" type="text" placeholder="상품이름">
        <select name="category" id="category">
          <option value="대형">대형</option>
          <option value="중형">중형</option>
          <option value="소형">소형</option>
          <option value="컴퓨터">컴퓨터</option>
          <option value="프린터">프린터</option>
          <option value="악세서리">악세서리</option>
          <option value="생활용품">생활용품</option>
        </select>
        <button type="submit">상품등록</button>
      </form>
      <form class="prd_update_form" method="post" action="/createProduct/productUpdate">
        <input name="id" type="text" placeholder="변경할 상품의 코드를 입력하세요">
        <input name="name" type="text" id="prd_name" placeholder="변경할 상품 명을 입력하세요">
        <select name="category" id="category">
          <option value="대형">대형</option>
          <option value="중형">중형</option>
          <option value="소형">소형</option>
          <option value="컴퓨터">컴퓨터</option>
          <option value="프린터">프린터</option>
          <option value="악세서리">악세서리</option>
          <option value="생활용품">생활용품</option>
        </select>
        <button type="submit">상품수정</button>
      </form>
      <form class="prd_delete_form" action="/createProduct/productDelete" method="post">
        <input id="prd_delete_id" name="id" type="text" placeholder="상품코드">
        <input id="prd_delete_name" name="name" type="text" placeholder="상품이름">
        <button type="submit">상품삭제</button>
      </form>
      <table class="all_table">
        <thead class="head_table">
          <tr>
            <th>아이디</th>
            <th>회원명</th>
            <th>성별</th>
            <th>핸드폰</th>
            <th>이메일</th>
            <th>지역</th>
            <th>생일</th>
            <th>가입날짜</th>
            <th>포인트</th>
          </tr>
        </thead>
        <tbody class="body_table">

        </tbody>
      </table>
    </div>
  </main>
</body>

</html>