.EditPassword{
  width: 400px;
  margin: 0 auto;
  .EditPasswordMain{
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    margin: 50px auto;
    h2{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    form{
      label{
        display: block;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      input{
        display: block;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        padding: 0 15px;
        line-height: 40px;
        border-radius: 4px;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        color: #424242;
        font-size: 12px;
        &:focus{
          outline: none;
        }
      }
      p{
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        color: #f77;
      }
      button{
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #09addb;
        background-color: #09addb;
        color: #fff;
        font-family: inherit;
        font-weight: 700;
        font-size: 17px;
        text-decoration: none;
        text-align: center;
        padding: 11px 10px;
        line-height: 26px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}