.edit{
  width: 1000px;
  min-height: 800px;
  margin: 50px auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  padding: 50px;
  color: #292929;
  .editTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .editTitleDiv{
      font-size: 24px;
      font-weight: 700;
    }
    .editTitleSpan{
      font-size: 14px;
      color: #f05656;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  input:not(input[type=radio]){
    width: 368px;
    font-size: 15px;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    &:focus{
      outline: none;
    }
  }
  label{
    display: block;
    padding-top: 15px;
    width: 100px;
  }
  form{
    .editId, .editNickname{
      display: flex;
      margin-bottom: 40px;
      .editIdTitle, .editNicknameTitle{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        .editIdspan, .editNicknamespan{
          display: block;
          margin-top: 5px;
          font-size: 13px;
          color: #757575;
        }
      }
      .editIdinput, .editNicknameinput{
        .editIdinputText{
          display: block;
          margin-top: 10px;
          color: #9e9e9e;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
    .editNicknameText{
      display: block;
      margin-top: 10px;
      color: rgb(255, 119, 119);
      font-size: 13px;
      font-weight: 700;
    }
    .editHompage, .editGender, .editBirthday, .editImage, .editComment, .editPhone{
      display: flex;
      margin-bottom: 40px;
    }
    .editPhone{
      flex-direction: column;
      div{
        display: flex;
        margin-bottom: 10px;
      }
      span{
        margin-left: 100px;
        display: block;
        color: #9e9e9e;
        font-size: 13px;
        font-weight: 700;
      }
    }
    .editGender{
      input[type=radio]{
        width: 20px;
        height: 20px;
      }
      .editGenderINput{
        display: flex;
        margin-top: 5px;
        span{
          display: block;
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .editImage{
      flex-direction: column;
      .editImageinput{
        display: flex;
      }
      .editImageprofile{
        margin-top: 20px;
        margin-left: 160px;
        width: 150px;
        height: 150px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .editButton{
      display: inline-block;
      width: 290px;
      margin-top: 60px;
      margin-left: 100px;
      box-sizing: border-box;
      border: 1px solid transparent;
      background: none;
      font-family: inherit;
      font-weight: 700;
      font-size: 17px;
      text-decoration: none;
      text-align: center;
      transition: color .1s,background-color .1s,border-color .1s;
      border-radius: 4px;
      background-color: #35c5f0;
      border-color: #35c5f0;
      color: #fff;
      padding: 11px 10px;
      line-height: 26px;
      cursor: pointer;
    }
  }
}