.PasswordNewNew{
  margin: 0 auto;
  width: 375px;
  .PasswordNewNewLogo{
    margin-top: 130px;
    margin-bottom: 40px;
    text-align: center;
  }
  form{
    label{
      display: block;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #2F3438;
      letter-spacing: -0.3px;
      word-break: keep-all;
    }
    .PasswordNewNewLabelNotValue{
      color: rgb(255, 119, 119);
    }
    .PasswordNewNewTitle{
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      color: #828C94;
      letter-spacing: -0.3px;
    }
    .PasswordNewNewText{
      display: block;
      padding-top: 10px;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    input{
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 8px 15px 9px;
      border: 1px solid #dbdbdb;
      background-color: #fff;
      color: #000;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic, sans-serif;
      font-size: 15px;
      line-height: 21px;
      transition: border-color 0.1s, background-color 0.1s;
      resize: none;
    }
    .PasswordNewNewText{
      display: block;
      padding-top: 10px;
      font-size: 14px;
      line-height: 18px;
      color: rgb(255, 119, 119);
    }
  }
  button{
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic, sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color 0.1s, background-color 0.1s, border-color 0.1s;
    border-radius: 4px;
    cursor: pointer;
    border-color: #09addb;
    background-color: #09addb;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
  }
}