.PasswordNew{
  margin: 0 auto;
  width: 375px;
  min-height: 900px;
  .PasswordNewTitle{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
  .PasswordNewIdCheck{
    position: relative;
    input{
      display: inline-block;
      width: 100%;
      height: 31px;
      border: 1px solid #dbdbdb;
      margin-top: 5px;
      padding: 6px 0px;
      box-shadow: none;
      font-size: 15px;
      color: #000;
      border-radius: 4px;
      background-color: #fff;
      &:focus{
        outline: none;
      }
    }
    .PasswordNewInput{
      border-color: rgb(255, 119, 119);
    }
    button{
      position: absolute;
      top: 12px;
      right: 10px;
      white-space: pre;
      height: 31px;
      font-size: 15px;
      line-height: 17px;
      padding: 7px 10px;
      box-sizing: border-box;
      border: 1px solid #09addb;
      background-color: #09addb;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .PasswordNewIdText{
    padding: 6px 0px;
    margin-top: 5px;
    color: rgb(255, 119, 119);
    font-size: 12px;
  }
  .PasswordNewEmailButton{
    width: 100%;
    min-height: 50px;
    margin-top: 28px;
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    white-space: pre;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #09addb;
    border-radius: 4px;
    background-color: #09addb;
    color: #fff;
    cursor: pointer;
  }
  .PasswordNewPhone{
    .PasswordNewPhoneTitle{
      margin-bottom: 3px;
      font-size: 13px;
      line-height: 20px;
    }
    .PasswordNewPhoneHint{
      margin-bottom: 8px;
      color: rgb(53, 197, 240);
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
    }
    .PasswordNewPhoneDiv{
      display: inline-block;
      span{
        margin-right: 15px;
        font-size: 1.3rem;
      }
      input{
        width: 39px;
        height: 26px;
        margin-right: 15px;
        padding: 8px 10px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        text-align: center;
        &:focus{
          outline: none;
        }
      }
      .PasswordNewPhoneInput{
        border-color: rgb(255, 119, 119);;
      }
      button{
        display: inline-block;
        margin-left: 15px;
        margin-right: 20px;
        padding: 12px 15px;
        border: 1px solid #09addb;
        box-sizing: border-box;
        background-color: #09addb;
        border-radius: 4px;
        white-space: pre;
        font-size: 17px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .PasswordNewPhoneText{
      margin-top: 15px;
      line-height: 20px;
      font-size: 13px;
      color: rgb(255, 119, 119);
    }
  }
  .PasswordNewEmail{
    margin-top: 30px;
    .PasswordNewEmailTitle{
      width: 100%;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 20px;
    }
    input{
      width: 100%;
      height: 34px;
      display: inline-block;
      border: 1px solid #dbdbdb;
      margin-top: 5px;
      padding: 6px 0px;
      box-shadow: none;
      font-size: 15px;
      color: #000;
      border-radius: 4px;
      background-color: #fff;
      &:focus{
        outline: none;
      }
    }
    span{
      display: inline-block;
      margin-top: 15px;
      font-size: 13px;
      line-height: 20px;
    }
    .PasswordNewEmailReturn{
      margin-top: 0px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .PasswordNewAsk{
    margin-top: 40px;
    background: #eee;
    text-align: center;
    padding: 20px 40px;
    div:nth-child(2){
      margin-top: 10px;
      color: #09addb;
      font-weight: 700;
    }
  }
}