@use "../../../../common/mixin.scss" as m;

section.sub_visual_section {
    width: 100%;
    height: 380px;
    position: relative;
    ul.sub_visual_list_ul {
        width: 100%;
        position: absolute;
        div.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
            background-color: rgba(33, 38, 41, 0.5);
            width: 58px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 76%;
            bottom: 15px;
            border-radius: 30px;
            color: #fff;
            span.swiper-pagination-current {
                margin-right: 2px;
            }
            span.swiper-pagination-total {
                color: rgba(#fff, 0.7);
                margin-left: 2px;
            }
        }
    }
    div.sub_visual_inner {
        position: absolute;
        z-index: 2;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        button.prev_btn {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            border: none;
            width: 45px;
            height: 45px;
            background-color: rgba(33, 48, 41, 0.15);
            &:after {
                content: "\f053";
                font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
                font-weight: 600;
                font-size: 18px;
                color: #fff;
            }
        }
        button.next_btn {
            position: absolute;
            right: 10px;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
            border: none;
            width: 45px;
            height: 45px;
            background-color: rgba(33, 48, 41, 0.15);
            &:after {
                content: "\f054";
                font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
                font-weight: 600;
                font-size: 18px;
                color: #fff;
            }
        }
    }
}

// ul.sub_visual_list {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     position: absolute;
//     overflow: hidden;
//     li.sub_visual_list_li {
//         width: 100%;
//         position: absolute;
//         z-index: 1;
//         height: 100%;
//         a.sub_visual_list_link {
//             width: 100%;
//             height: 100%;
//             img {
//                 width: 1920px;
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//     }
// }

// div.sub_visual_inner {
//     border: 1px solid gray;
//     height: 100%;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 1;
//     div.sub_visual_count_wrap {
//         p.sub_visual_count_p {
//             display: inline-block;
//             border-radius: 15px;
//             padding: 8px;
//             position: absolute;
//             right: 80px;
//             bottom: 20px;
//             background-color: #4f4f4f;
//             font-size: 12px;
//             color: #fff;
//             span.sub_visual_count_current_span {
//             }
//             span.sub_visual_count_span {
//             }
//         }
//         button.sub_visual_prev_btn {
//             background-color: #fff;
//             border-radius: 50%;
//             padding: 10px;
//             position: absolute;
//             left: -20px;
//             top: 50%;
//             border: none;
//         }
//         button.sub_visual_next_btn {
//             background-color: #fff;
//             border-radius: 50%;
//             padding: 10px;
//             position: absolute;
//             right: -20px;
//             top: 50%;
//             border: none;
//         }
//     }
// }
