@charset "UTF-8";
div.projects_wrap div.projects_inner_wrap ul.house_cate_list {
  display: flex;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li {
  margin-right: 5px;
  position: relative;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li.active div.house_cate_list_modal {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box {
  margin-top: 5px;
  padding: 15px 0px;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box button.house_cate_list_btn {
  color: #757575;
  border: none;
  padding: 7px 8px 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box button.house_cate_list_btn span.house_cate_list_span::after {
  content: "\f078";
  font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 800;
  font-size: 14px;
  margin-left: 5px;
  color: #757575;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 200px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list {
  width: 100%;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li {
  width: 100%;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li:hover button.house_cate_list_modal_list_li_btn {
  background: rgb(247, 247, 247);
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li button.house_cate_list_modal_list_li_btn {
  padding: 20px 20px;
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  text-align: left;
}
div.projects_wrap div.projects_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li button.house_cate_list_modal_list_li_btn.active {
  color: #35c5f0;
}
div.projects_wrap div.projects_inner_wrap div.projects_all_count_wrap {
  margin: 20px 0px 10px;
}
div.projects_wrap div.projects_inner_wrap div.projects_all_count_wrap span.projects_all_count_text {
  font-size: 15px;
  color: rgb(66, 66, 66);
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box {
  width: 32%;
  border-radius: 4px;
  margin-bottom: 40px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box:not(:nth-child(3n+3)) {
  margin-right: 22px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box fieldset.projects_house_intro_img_wrap {
  position: relative;
  width: 100%;
  height: 255px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box fieldset.projects_house_intro_img_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box fieldset.projects_house_intro_img_wrap span.projects_house_intro_img_span_new {
  position: absolute;
  left: 20px;
  top: 10px;
  padding: 5px 8px;
  background-color: #ff7777;
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box fieldset.projects_house_intro_img_wrap span.projects_house_intro_img_span_svg {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap div.projects_house_intro_box p.projects_house_intro_info {
  text-align: center;
  margin: 10px 0px;
}
div.projects_wrap div.projects_inner_wrap div.projects_house_intro_wrap p.projects_house_intro_scrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  color: rgb(130, 140, 148);
  font-size: 14px;
}

div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list {
  display: flex;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li {
  margin-right: 5px;
  position: relative;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li.active div.house_cate_list_modal {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box {
  margin-top: 5px;
  padding: 15px 0px;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box button.house_cate_list_btn {
  color: #757575;
  border: none;
  padding: 7px 8px 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_box button.house_cate_list_btn span.house_cate_list_span::after {
  content: "\f078";
  font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 800;
  font-size: 14px;
  margin-left: 5px;
  color: #757575;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 200px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, 0.73);
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list {
  width: 100%;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li {
  width: 100%;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li:hover button.house_cate_list_modal_list_li_btn {
  background: rgb(247, 247, 247);
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li button.house_cate_list_modal_list_li_btn {
  padding: 20px 20px;
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  text-align: left;
}
div.card_collections_wrap div.card_collections_inner_wrap ul.house_cate_list li.house_cate_list_li div.house_cate_list_modal ul.house_cate_list_modal_list li.house_cate_list_modal_list_li button.house_cate_list_modal_list_li_btn.active {
  color: #35c5f0;
}/*# sourceMappingURL=projects.css.map */