div.profile_wrap {
  div.profile_inner {
    display: flex;
    div.profile_info {
      padding: 30px 25px 18px;
      box-sizing: border-box;
      text-align: center;
      min-width: 250px;
      margin-right: 95px;
      div.profile_info_image_wrap {
        margin-bottom: 20px;
        img {
          border-radius: 50%;
          text-align: center;
        }
      }
      h3.profile_user_name {
        font-weight: bold;
        font-size: 26px;
        color: #292929;
        margin-bottom: 15px;
      }
      p.profile_follow_wrap {
        font-size: 13px;
        color: #828c94;
        margin-bottom: 15px;
        span.profile_follower_span {
          position: relative;
          &::after {
            content: "";
            display: inline-block;
            margin-right: 5px;
            width: 1px;
            height: 10px;
            background-color: #c9c9c9;
          }
        }
      }
      div.profile_setting {
        display: inline-block;
        padding: 5px 16px 6px;
        font-size: 12px;
        margin-bottom: 15px;
        span.profile_setting_span {
        }
      }
      ul.profile_scrap_list_wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // margin: 0px 5px 0px -5px;
        border-bottom: 1px solid var(--header);
        padding: 20px 0px;
        li.profile_scrap_list_li {
          & > svg {
            margin-bottom: 5px;
          }
          & > span {
            display: block;
            font-size: 13px;
            color: #292929;
            margin-bottom: 5px;
          }
          & > em {
            font-size: 15px;
            font-weight: bold;
            color: #424242;
            margin-bottom: 5px;
          }
          svg {
          }
          span.profile_scrap_first_span {
          }
        }
      }
    }
    div.profile_image {
      flex-grow: 1;
      padding: 50px 35px 0px;
      div.profile_image_capture_wrap {
        ul.profile_image_capture_list {
          display: flex;
          justify-content: space-between;
          li.profile_image_capture_list_li {
            width: 160px;
            aspect-ratio: 1;
            border-radius: 5px;
            background-color: #f5f5f5;
          }
        }
        button.profile_image_upload_button {
          display: block;
          width: 100%;
          height: 50px;
          margin-top: 30px;
          border: 1px solid var(--headerBorder);
          background: none;
        }
      }
      div.profile_image_house_wrap {
        a.profile_image_house_link {
          border: 1px dotted #c9c9c9;
          height: 180px;
          display: block;
          color: #757575;
          font-size: 13px;
          text-align: center;
          line-height: 180px;
        }
      }
    }
  }
}
