@use "../common/mixin.scss" as m;

.inner {
  width: 1256px;
  padding: 0px 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

*,
body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

:root {
  --sky: #35c5f0;
  --darkSky: #009fce;
  --lightSky: #9ee3f8;
  --titleColor: #2f3438;
  --titleHover: #97999b;
  --red: #f77;
  --gray: #ededed;
  --darkGray: #757575;
  --lightGray: #f7f9fa;
  --blackGray: #2f3438;
  --borderColor: #dadde0;
  --headerBorder: #eaedef;
}

// swiper //////////////////////////////////////////////////////////////////////////////////

.swiper_wrap {
  position: relative;
}

// swiper 버튼 공통
@mixin swiper_btn {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  background: #fff;
  border: none;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
  color: #2f3437;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  //opacity: 0;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  &:hover {
    background: var(--lightGray);
  }
}
//swiper 일반 버튼
.prev_style {
  @include swiper_btn;
  left: 0;
  &::before {
    content: "\f053";
  }
}
.next_style {
  @include swiper_btn;
  right: 0;
  &::before {
    content: "\f054";
  }
}

// hover시 나타나는 opacity 적용 버튼
@mixin swiper_btn_opacity {
  @include swiper_btn;
  opacity: 0;
}
@mixin swiper_btn_opacity_hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}

.prev_style_opactiy {
  @include swiper_btn_opacity;
  left: -24px;
  &::before {
    content: "\f053";
  }
  &:hover {
    @include swiper_btn_opacity_hover;
  }
}
.next_style_opactiy {
  @include swiper_btn_opacity;
  right: -24px;
  &::before {
    content: "\f054";
  }
  &:hover {
    @include swiper_btn_opacity_hover;
  }
}

// 하늘색 버튼 _ 사이즈 별도 지정
.sky_btn {
  background: var(--sky);
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: var(--darkSky);
  }
}

// 이미지 scal
