.orders_section_container {
  display: flex;
  position: relative;
  color: rgb(47, 52, 56);
  margin-bottom: 50px;
}

.orders_form_wrap {
  max-width: 1256px;
  margin: 0px auto;
  flex: 1 0 0%;
  min-width: 0px;
}

.orders_sidebar_wrap {
  flex: 0 0 366px;
  width: 366px;
  margin-left: 40px;
}

.orders_form_title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 40px 0px;
  color: rgb(47, 52, 56);
}

.orders_form_box:not(:last-child) {
  margin-bottom: 50px;
}

.orders_form_box_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(234, 237, 239);
}

.orders_form_box_title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.orders_form_box_same_btn {
  display: inline-block;
  margin: 0px;
  border: none;
  background: none transparent;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  color: rgb(53, 197, 240);
  transition: color 0.2s ease 0s;
  font-weight: 700;
  cursor: pointer;
}
.orders_form_box_same_btn:hover {
  background-color: rgb(247, 249, 250);
}

.orders_form_box_input_wrap {
  display: flex;
  margin-bottom: 15px;
}

.orders_form_box_input_title {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 72px;
  white-space: pre-line;
  max-height: 40px;
  transition: color 0.25s ease 0s;
  color: rgb(130, 140, 148);
}

.orders_form_box_input_contents_wrap {
  flex-grow: 1;
  min-width: 0px;
}

.orders_form_box_input_contents_container {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  padding: 0px 14px;
  width: 270px;
}
.orders_form_box_input_contents_container > input {
  width: 50px;
}
.orders_form_box_input_contents_container:hover {
  background-color: rgb(247, 249, 250);
}
.orders_form_box_input_contents_container.active {
  border: 1px solid #35c5f0;
}
.orders_form_box_input_contents_container.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input_contents_email_container {
  display: flex;
}

.orders_form_box_input_contents_box_email_id {
  display: flex;
  flex: 1 0 0px;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.orders_form_box_input_contents_box_email_mail {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.orders_form_box_input_contents_box_email_span {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.orders_form_box_input_contents_box_email_mail_self_input {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  padding: 0px 14px;
  max-width: 270px;
  width: auto;
  margin-bottom: 10px;
}
.orders_form_box_input_contents_box_email_mail_self_input > input {
  width: 50px;
}
.orders_form_box_input_contents_box_email_mail_self_input:hover {
  background-color: rgb(247, 249, 250);
}
.orders_form_box_input_contents_box_email_mail_self_input.active {
  border: 1px solid #35c5f0;
}
.orders_form_box_input_contents_box_email_mail_self_input.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input_contents_box_email_mail_select_box {
  display: inline-block;
  line-height: 0;
  position: relative;
  flex: 1 0 0px;
  flex-wrap: wrap;
  max-width: 270px;
  min-width: -moz-max-content;
  min-width: max-content;
}

.orders_form_box_input_contents_box_email_mail_select_box_downarrow {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 8px;
  right: 13px;
  color: rgb(130, 140, 148);
}

.orders_form_box_input_contents_box_email_mail_select {
  display: inline-block;
  margin: 0px;
  padding: 0px 37px 0px 13px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(218, 221, 224);
  color: rgb(47, 52, 56);
}
.orders_form_box_input_contents_box_email_mail_select:focus {
  border-color: #35c5f0;
}
.orders_form_box_input_contents_box_email_mail_select:focus-visible {
  outline: 0;
}
.orders_form_box_input_contents_box_email_mail_select.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input {
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}

.order_invisible {
  display: none;
}

.request_invisible {
  display: none;
}

.orders_form_box_input_contents_phone_container {
  display: flex;
  flex: 1 1 0%;
  width: 100%;
}

.orders_form_box_input_contents_box_phone_head_wrap {
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 85px;
  min-width: 85px;
}

.orders_form_box_input_contents_box_phone_head_box {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.orders_form_box_input_contents_box_phone_head {
  display: inline-block;
  margin: 0px;
  padding: 0px 37px 0px 13px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(218, 221, 224);
  color: rgb(47, 52, 56);
}
.orders_form_box_input_contents_box_phone_head:focus {
  border-color: #35c5f0;
}
.orders_form_box_input_contents_box_phone_head:focus-visible {
  outline: 0;
}

.orders_form_box_input_phone {
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
  width: 50px;
}

.orders_form_box_input_contents_box_phone_body_wrap {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  padding: 0px 14px;
  max-width: 175px;
  width: 100%;
  margin-left: 10px;
}
.orders_form_box_input_contents_box_phone_body_wrap:hover {
  background-color: rgb(247, 249, 250);
}
.orders_form_box_input_contents_box_phone_body_wrap.active {
  border: 1px solid #35c5f0;
}
.orders_form_box_input_contents_box_phone_body_wrap.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input_contents_address_container {
  max-width: 570px;
  width: 100%;
}

.orders_form_box_input_contents_address_number_wrap {
  display: flex;
  max-width: 270px;
  width: 100%;
}

.orders_form_box_input_contents_address_detail_wrap {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  padding: 0px 14px;
  max-width: 570px;
  width: 100%;
  margin-top: 10px;
}
.orders_form_box_input_contents_address_detail_wrap:hover {
  background-color: rgb(247, 249, 250);
}
.orders_form_box_input_contents_address_detail_wrap.active {
  border: 1px solid #35c5f0;
}
.orders_form_box_input_contents_address_detail_wrap.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input_contents_address_search_btn {
  margin: 0px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 14px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  padding: 0px 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: rgb(53, 197, 240);
  border: 1px solid rgb(53, 197, 240);
  min-width: -moz-max-content;
  min-width: max-content;
  width: 8px;
  cursor: pointer;
}
.orders_form_box_input_contents_address_search_btn:hover {
  background-color: rgb(239, 251, 255);
}

.orders_form_box_input_contents_address_number_container {
  display: contents;
}

.orders_form_box_input_contents_address_number_box {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(234, 237, 239);
  border-radius: 4px;
  background-color: rgb(247, 249, 250);
  height: 40px;
  padding: 0px 14px;
  width: 100%;
  margin-left: 10px;
  min-width: 0px;
}

.orders_form_box_input_contents_address_number {
  width: 50px;
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}

.orders_form_box_input_contents_address_title_container {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(234, 237, 239);
  border-radius: 4px;
  background-color: rgb(247, 249, 250);
  height: 40px;
  padding: 0px 14px;
  margin-top: 10px;
  max-width: 570px;
  width: 100%;
}

.orders_form_box_input_contents_address_title {
  width: 50px;
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}

.orders_form_box_input_contents_address_detail {
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}
.orders_form_box_input_contents_address_detail::-moz-placeholder {
  color: rgb(196, 203, 206);
}
.orders_form_box_input_contents_address_detail::placeholder {
  color: rgb(196, 203, 206);
}

.orders_form_box_checkbox_wrap {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
}

.orders_form_box_checkbox_label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.orders_form_box_checkbox_container {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
  border: 1px solid rgb(218, 221, 224);
  background-color: rgb(255, 255, 255);
}
.orders_form_box_checkbox_container.checkbox_active {
  background-color: rgb(53, 197, 240);
  border: 1px solid rgb(53, 197, 240);
}

.orders_form_box_checkbox_box {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 0px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}
.orders_form_box_checkbox_box.checkbox_active {
  width: 12px;
}

.orders_form_box_checkbox_span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  color: rgb(255, 255, 255);
}

.orders_form_box_checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  cursor: pointer;
}

.orders_form_box_checkbox_label_span {
  flex: 1 1 0%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  color: rgb(47, 52, 56);
}

.orders_form_box_delivery_request_wrap {
  max-width: 640px;
  width: 100%;
}

.orders_form_box_delivery_request_container {
  position: relative;
  display: inline-block;
  line-height: 0;
  max-width: 640px;
  width: 100%;
  margin-top: 10px;
}

.orders_form_box_delivery_request_span {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 8px;
  right: 13px;
  color: rgb(130, 140, 148);
}

.orders_form_box_delivery_request {
  display: inline-block;
  margin: 0px;
  padding: 0px 37px 0px 13px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(218, 221, 224);
  color: rgb(194, 200, 204);
}
.orders_form_box_delivery_request:focus {
  border-color: #35c5f0;
}
.orders_form_box_delivery_request:focus-visible {
  outline: 0;
}

.orders_form_box_delivery_request_custom_container {
  max-width: 640px;
  width: 100%;
  margin-top: 10px;
}

.orders_form_box_delivery_request_custom_container_input_box {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  padding: 0px 14px;
  width: 100%;
}
.orders_form_box_delivery_request_custom_container_input_box:hover {
  background-color: rgb(247, 249, 250);
}
.orders_form_box_delivery_request_custom_container_input_box.active {
  border: 1px solid #35c5f0;
}
.orders_form_box_delivery_request_custom_container_input_box.valcheck {
  border: 1px solid rgb(255, 119, 119);
}

.orders_form_box_input_contents_self_delivery_request {
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}
.orders_form_box_input_contents_self_delivery_request::-moz-placeholder {
  color: rgb(196, 203, 206);
}
.orders_form_box_input_contents_self_delivery_request::placeholder {
  color: rgb(196, 203, 206);
}

.orders_form_box_delivery_request_custom_container_span_box {
  font-size: 12px;
  line-height: 16px;
  color: rgb(130, 140, 148);
  display: flex;
  white-space: nowrap;
  margin-top: 8px;
}

.orders_form_box_delivery_request_custom_container_span_left {
  flex: 1 1 0%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orders_form_box_delivery_request_custom_container_span_right {
  text-align: right;
  padding-left: 10px;
}

.orders_form_box_title_product_count {
  color: rgb(130, 140, 148);
  font-size: 14px;
  line-height: 18px;
  flex: 1 1 0%;
  padding-left: 10px;
  text-align: left;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  will-change: opacity;
}

.orders_form_box_title_product_count_span {
  color: rgb(47, 52, 56);
}

.orders_product_wrap {
  border: 1px solid rgb(234, 237, 239);
  border-radius: 4px;
  overflow: hidden;
}
.orders_product_wrap:not(:last-of-type) {
  margin-bottom: 16px;
}

.orders_product_delivery_type_wrap {
  display: flex;
  align-items: center;
  background-color: rgb(247, 249, 250);
  box-sizing: border-box;
  min-height: 54px;
  padding: 10px 16px;
  border-bottom: 1px solid rgb(234, 237, 239);
}

.orders_product_delivery_type_box {
  margin-top: 4px;
}
.orders_product_delivery_type_box img {
  width: auto;
  height: 17px;
}

.orders_product_company_wrap {
  background-color: rgb(247, 249, 250);
  padding: 10px 16px;
}

.orders_product_company_container {
  display: flex;
}

.orders_product_company_title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  flex: 1 1 0%;
}

.orders_product_company_delivery_type {
  font-size: 14px;
  line-height: 18px;
}

.orders_product_contents_wrap {
  display: flex;
  padding: 16px;
}

.orders_product_contents_img_wrap {
  position: relative;
  width: 64px;
  height: 64px;
}
.orders_product_contents_img_wrap::after {
  position: absolute;
  content: "";
  inset: 0px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.orders_product_contents_img {
  border-radius: 4px;
  width: 64px;
  height: 64px;
}

.orders_product_contents_text_wrap {
  margin-left: 12px;
}

.orders_product_contents_text_title {
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
  margin-bottom: 8px;
}

.orders_product_contents_text_option {
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  margin-bottom: 9px;
}

.orders_product_contents_text_price {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: rgb(47, 52, 56);
  font-weight: 600;
}

.orders_product_contents_text_price_span {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(130, 140, 148);
  margin-left: 16px;
}
.orders_product_contents_text_price_span::before {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: -8px;
  content: "";
  width: 1px;
  background-color: rgb(234, 237, 239);
}

.orders_form_box_title_cart_coupon {
  color: rgb(130, 140, 148);
  font-size: 14px;
  line-height: 18px;
  flex: 1 1 0%;
  padding-left: 10px;
  text-align: right;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  will-change: opacity;
}

.orders_form_box_point_container {
  display: flex;
  flex: 1 1 0%;
  width: 100%;
}

.orders_form_box_point_box {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(234, 237, 239);
  border-radius: 4px;
  background-color: rgb(247, 249, 250);
  height: 40px;
  padding: 0px 14px;
  max-width: 222px;
  width: 100%;
}
.orders_form_box_point_box > input:disabled {
  color: rgb(194, 200, 204);
}
.orders_form_box_point_box > input {
  width: 50px;
}

.orders_form_box_point {
  box-sizing: border-box;
  flex: 1 0 0%;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 100%;
  color: #2F3438;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding-right: 6px;
}

.orders_form_box_point_btn {
  margin: 0px 0px 0px 8px;
  background: none rgb(247, 249, 250);
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 14px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  border-radius: 4px;
  padding: 0px 16px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(194, 200, 204);
  border: 1px solid rgb(234, 237, 239);
  font-weight: 600;
}

.orders_form_box_point_usable_span {
  color: rgb(53, 197, 240);
  font-weight: 700;
}

.orders_form_box_point_usable {
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
}

.orders_form_box_payment_box {
  background-color: rgb(247, 249, 250);
  outline: rgb(234, 237, 239) solid 1px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 16px;
}

.orders_form_box_payment {
  background-color: rgb(255, 255, 255);
  list-style: none;
  outline: rgb(234, 237, 239) solid 1px;
  position: relative;
  transition: background-color 0.2s ease 0s;
}
.orders_form_box_payment.selected {
  background-color: rgb(239, 251, 255);
}
.orders_form_box_payment.selected::after {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  content: "";
  inset: 0px;
  border: 2px solid rgb(53, 197, 240);
}

.orders_form_box_payment_btn {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 16px 5px;
  background-color: inherit;
  border: none;
}

.orders_form_box_payment_span {
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
  font-weight: 500;
}

.orders_form_box_payment_img {
  width: 60px;
  height: 60px;
}

.orders_form_box_payment_sale_span {
  font-size: 12px;
  line-height: 20px;
  color: rgb(130, 140, 148);
  font-weight: 500;
}

.orders_payment_type_card_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.orders_payment_type_card_container {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-bottom: 8px;
}

.orders_payment_type_card_span {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 8px;
  right: 13px;
  color: rgb(130, 140, 148);
}

.orders_payment_type_card_select {
  display: inline-block;
  margin: 0px;
  padding: 0px 37px 0px 13px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(218, 221, 224);
  color: rgb(47, 52, 56);
}

.orders_payment_type_card_paytype_container {
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
}

.orders_payment_type_wrap {
  font-size: 14px;
  line-height: 20px;
  color: rgb(130, 140, 148);
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(247, 249, 250);
}

.orders_sidebar_wrap {
  flex: 0 0 366px;
  width: 366px;
  margin-left: 40px;
}

.orders_sidebar_container {
  position: sticky;
  top: 81px;
  padding-top: 40px;
  width: inherit;
}

.orders_sidebar_box {
  border: 1px solid rgb(234, 237, 239);
  border-radius: 4px;
  margin-bottom: 20px;
}

.orders_sidebar_total_price_wrap {
  padding: 20px 24px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(234, 237, 239);
}

.orders_sidebar_agreement_wrap {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
}

.orders_sidebar_total_price_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.orders_sidebar_total_price_title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.orders_sidebar_total_price_summary_container {
  display: flex;
  align-items: center;
  color: rgb(47, 52, 56);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8px;
}

.orders_sidebar_total_price_summary_span {
  flex: 1 1 0%;
  text-align: right;
}
.orders_sidebar_total_price_summary_span.tp_emphasis {
  font-weight: 600;
}

.orders_sidebar_total_price_hr {
  margin: 20px 0px;
  padding: 0px;
  height: 1px;
  border: none;
  background-color: rgb(234, 237, 239);
}

.orders_sidebar_total_price_last {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders_sidebar_total_price_last_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.orders_sidebar_total_price_last_price {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: rgb(53, 197, 240);
}

.orders_sidebar_total_price_point {
  text-align: right;
  margin-top: 6px;
  font-size: 13px;
  line-height: 18px;
}

.orders_sidebar_total_price_point_span {
  font-weight: 600;
}

.orders_sidebar_agreement_all_wrap {
  margin: 12px 0px;
}

.orders_sidebar_agreement_all_container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
}

.orders_sidebar_agreement_all_span {
  display: flex;
  align-items: center;
}

.orders_form_box_checkbox_label_agreement_span {
  font-size: 14px;
  line-height: 18px;
  margin-left: 12px;
}

.orders_form_box_checkbox_agreement_label {
  height: 20px;
}

.orders_sidebar_agreement_other_wrap {
  flex: 1 1 0%;
  min-width: 0px;
  max-width: 100%;
  padding-bottom: 12px;
  background-color: rgb(247, 249, 250);
  margin-inline: -24px;
  padding-inline: 24px;
}

.orders_sidebar_agreement_other_container {
  margin-bottom: 15px;
}
.orders_sidebar_agreement_other_container:first-of-type {
  padding-top: 15px;
}

.orders_sidebar_agreement_other_agree {
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
}

.orders_sidebar_agreement_other_responsibility {
  font-size: 12px;
  line-height: 20px;
  color: rgb(130, 140, 148);
  margin-top: 10px;
}

.orders_sidebar_agreement_other_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
}

.orders_sidebar_agreement_other_box_span {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
  margin-left: 12px;
}

.orders_sidebar_agreement_other_box_span_downarrow_container {
  transition: all 0.3s ease 0s;
}
.orders_sidebar_agreement_other_box_span_downarrow_container.rotate_active {
  transform: rotate(180deg);
}

.orders_sidebar_agreement_other_box_span_downarrow_box {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}

.orders_sidebar_agreement_privacy_agree_wrap {
  transition: height 300ms ease 0s;
  height: 0px;
  overflow: hidden;
}
.orders_sidebar_agreement_privacy_agree_wrap.open_agree {
  height: 85px;
}

.orders_sidebar_agreement_pay_agree_wrap {
  transition: height 300ms ease 0s;
  height: 0px;
  overflow: hidden;
}
.orders_sidebar_agreement_pay_agree_wrap.open_agree {
  height: 105px;
}

.orders_sidebar_agreement_agree_container {
  padding-top: 8px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(234, 237, 239);
}

.orders_sidebar_agreement_agree_box {
  margin: 12px 0px;
}

.orders_sidebar_agreement_agree_span {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: rgb(130, 140, 148);
}

.orders_sidebar_agreement_agree_dot {
  margin-right: 4px;
}

.orders_sidebar_agreement_agree_btn {
  color: rgb(130, 140, 148);
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 0px;
}

.orders_sidebar_total_payment_btn_wrap {
  display: flex;
}

.orders_sidebar_total_payment_btn {
  margin: 0px;
  border: none;
  background: none rgb(53, 197, 240);
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding: 0px 16px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  flex: 1 1 0%;
  cursor: pointer;
}
.orders_sidebar_total_payment_btn:hover {
  background-color: rgb(0, 159, 206);
}/*# sourceMappingURL=orders.css.map */