@use "../../common/mixin.scss" as m;
main.main_contents {
  section.main_visual_section {
    width: 100%;
    height: 508px;
    div.main_visual_inner {
      box-sizing: border-box;
      height: 100%;
      margin-top: 30px;
      fieldset.main_visual_img_wrap {
        width: 847px;
        height: 100%;
        background-color: blue;
        float: left;
        margin-right: 20px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        img.main_visual_img {
          &:hover {
            transform: scale(1.04);
          }
          transition: all 0.1s ease-out;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          // transition: all 1s;
          filter: brightness(0.9);
        }
        div.main_visual_info_wrap {
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: 0px;
          padding: 30px 30px;
          box-sizing: border-box;
          h3.main_visual_info_title {
            font-size: 32px;
            line-height: 42px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 5px;
          }
          p.main_visual_info_user {
            span.main_visual_info_user_img-span {
              img.main_visual_info_user_img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
            span.main_visual_info_user_name {
              margin-left: 3px;
              color: #fff;
            }
          }
        }
      } //fieldset
      div.main_visual_swiper_wrap {
        width: 269px;
        height: 100%;
        float: left;
        border-radius: 5px;
        position: relative;
        &:hover button.visual_next_btn {
          opacity: 1;
        }
        &:hover button.visual_prev_btn {
          opacity: 1;
        }
        div.swiper {
          border-radius: 5px;
          height: 100%;
          &:hover div.swiper-button-next {
            // display: block;
            opacity: 1;
          }
          &:hover div.swiper-button-prev {
            // display: block;
            opacity: 1;
          }
          div.swiper-pagination {
            padding: 5px;
            position: absolute;
            left: 200px;
            bottom: 10px;
            z-index: 1;
            width: 45px;
            height: 15px;
            background-color: rgba(33, 38, 41, 0.5);
            text-align: center;
            border-radius: 17px;
            font-size: 14px;
            color: #fff;
            span.swiper-pagination-current {
              color: #fff;
            }
            span.swiper-pagination-total {
              color: #fff;
            }
          }
        }
        div.swiper-slide {
          img {
            &:hover {
              transform: scale(1.04);
            }
            transition: all 0.2s ease-out;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
        }
        span.main_visual_index_box {
          padding: 5px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          z-index: 1;
          width: 45px;
          height: 15px;
          background-color: rgba(33, 38, 41, 0.5);
          text-align: center;
          border-radius: 17px;
          font-size: 14px;
          color: #fff;
        }
      }
      button.visual_next_btn {
        position: absolute;
        display: block;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.4s;
        opacity: 0;
        right: -20px;
        width: 48px;
        height: 48px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        border: 1px solid rgb(0, 0, 0, 0.2);

        &::after {
          content: "\f054";
          font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
          font-weight: 600;
          font-size: 18px;
          color: #000;
        }
      }
      button.visual_prev_btn {
        @include m.swiper_btn;
        position: absolute;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        opacity: 0;
        transition: all 0.4s;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        border: 1px solid rgb(0, 0, 0, 0.2);

        &::after {
          content: "\f053";
          font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
          font-weight: 600;
          font-size: 18px;
          color: #000;
        }
      }
    }
  }
}
