@charset "UTF-8";
section.topics_recommand_section {
  width: 100%;
  /* recommandImgContent.jsx */
  /* recommandImgContent.jsx */
}
section.topics_recommand_section .topics_recommand_inner {
  margin: 6px auto;
}
section.topics_recommand_section .topics_recommand_inner .topics_recommand_menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}
section.topics_recommand_section .topics_recommand_inner .topics_recommand_menu .shopcate_category_item_container {
  margin-right: 5px;
  width: auto;
}
section.topics_recommand_section .topics_recommand_inner .topics_recommand_menu .shopcate_category_item_container .shopcate_category_item_wrap {
  background-color: #fff;
  border: 1px solid rgb(218, 221, 224);
  box-sizing: border-box;
}
section.topics_recommand_section div.recommand_content_section {
  display: block;
}
section.topics_recommand_section div.recommand_content_section div.recommand_contents {
  margin-top: 6px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox {
  display: inline-block;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox:hover div.recommand_image_wrap img.recommand_image_img {
  transform: scale(1.05);
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_image_wrap {
  position: relative;
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 0.3rem;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_image_wrap img.recommand_image_img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.2s;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_image_wrap span.recommand_image_img_scrapbtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_image_wrap span.recommand_image_img_scrapbtn.active .recommand_image_img_scrapbtn {
  color: var(--sky);
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_text_wrap {
  margin-top: 10px;
  height: 48px;
  width: 270px;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_text_wrap p.recommand_text_content {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_text_wrap p.recommand_text_content:hover pre::before {
  display: block;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_text_wrap p.recommand_text_content pre {
  position: relative;
  white-space: pre-line;
}
section.topics_recommand_section div.recommand_section a.recommand_section_linkBox div.recommand_text_wrap p.recommand_text_content pre::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox {
  position: relative;
  display: flex;
  width: 110px;
  height: 18px;
  line-height: 18px;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox:hover span.recommand_id_idimg_wrap::before, section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox:hover p.recommand_id_content::before {
  display: block;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox span.recommand_id_idimg_wrap {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox span.recommand_id_idimg_wrap::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox span.recommand_id_idimg_wrap img.recommand_id_idimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox p.recommand_id_content {
  width: 86px;
  font-size: 11px;
  font-weight: 600;
  color: rgb(47, 52, 56);
  text-overflow: ellipsis;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap a.recommand_id_linkBox p.recommand_id_content::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap .recommand_id_likebtn {
  height: 18px;
  line-height: 18px;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap .recommand_id_likebtn .recommand_id_likebtn_heart {
  margin-right: 3px;
  vertical-align: middle;
}
section.topics_recommand_section div.recommand_section div.recommand_id_wrap .recommand_id_likebtn .recommand_id_likenum {
  font-size: 12px;
}
section.topics_recommand_section div.recommand_snsimg_section {
  background-color: rgb(247, 249, 250);
  /* SnsImg.jsx */
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap {
  margin: 40px 0px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner {
  position: relative;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_prev_btn {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  opacity: 1;
  top: 50%;
  transform: translateX(50%);
  z-index: 10;
  left: 12px;
  border: none;
  top: 40%;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_prev_btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_prev_btn:hover {
  background: var(--lightGray);
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_prev_btn::after {
  content: "\f053";
  font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 900;
  font-size: 24px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_next_btn {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  opacity: 1;
  top: 50%;
  transform: translateX(50%);
  z-index: 10;
  right: 60px;
  border: none;
  top: 40%;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_next_btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_next_btn:hover {
  background: var(--lightGray);
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner button.sns_next_btn::after {
  content: "\f054";
  font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 900;
  font-size: 24px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_title_wrap {
  padding: 20px 0px;
  box-sizing: border-box;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_title_wrap p.snsimg_title_text strong.snsimg_title_text {
  font-weight: 700;
  font-size: 20px;
  color: rgb(47, 52, 56);
  line-height: 28px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_title_wrap p.snsimg_title_text_bold span.snsimg_title_info {
  display: inline-block;
  font-size: 14px;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  line-height: 28px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide {
  display: flex;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div {
  width: calc((100% - 100px) / 6);
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset {
  position: relative;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link img:hover {
  transform: scale(1.1);
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link p.snsimg_img_list_user {
  position: absolute;
  left: 10px;
  bottom: 15px;
  display: flex;
  align-items: center;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link p.snsimg_img_list_user span.snsimg_img_list_user_img {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 7px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link p.snsimg_img_list_user span.snsimg_img_list_user_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.swiper-slide div.snsimg_img_list_div fieldset.snsimg_img_fieldset .snsimg_img_list_link p.snsimg_img_list_user span.snsimg_img_list_user_text {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-right: 65px;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_img_list_button_wrap {
  position: absolute;
  right: 80px;
  top: 50%;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_img_list_button_wrap button.snsimg_img_list_button {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(234, 237, 239);
  border: none;
  transform: translateY(-50%);
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_img_list_button_wrap button.snsimg_img_list_button::after {
  content: "\f054";
  font-family: "Font Awesome 6 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
section.topics_recommand_section div.recommand_snsimg_section section.snsimg_wrap div.snsimg_inner div.snsimg_img_list_button_wrap span.snsimg_img_list_button_span {
  display: block;
  margin-top: -15px;
  margin-left: 3px;
}
section.topics_recommand_section div.recommand_snsimg_section .sns_next_btn.swiper-button-disabled {
  opacity: 0 !important;
  display: none;
}
section.topics_recommand_section div.recommand_snsimg_section .sns_prev_btn.swiper-button-disabled {
  opacity: 0 !important;
  display: none;
}/*# sourceMappingURL=recommand.css.map */