@use "../../common/mixin.scss" as m;

div.skyimg_section {
  display: block;
  height: 260px;
  div.skyimg_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } //div.skyimg_contents
} //div.skyimg_section

/* SkyImgContent.jsx */
a.skyimg_section_linkBox {
  display: inline-block;
  div.skyimg_image_wrap {
    position: relative;
    width: 270px;
    height: 180px;
    overflow: hidden;
    border-radius: 0.3rem;
    &:hover img.skyimg_image_img {
      transform: scale(1.05);
    }
    img.skyimg_image_img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all 0.2s;
    }
    span.skyimg_image_img_scrapbtn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      .skyimg_image_img_scrapbtn {
        color: rgba(#fff, 0.7);
        border: #fff;
        font-size: 25px;
      }
      &.active .skyimg_image_img_scrapbtn {
        color: var(--sky);
      }
    }
  } //div.skyimg_image_wrap
  div.skyimg_text_wrap {
    margin-top: 10px;
    height: 50px;
    width: 270px;
    p.skyimg_text_content {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 24px;
      word-break: keep-all;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      span.skyimg_text_sky {
        color: var(--sky);
        font-weight: 700;
        &::after {
          content: "";
          display: inline-block;
          width: 5px;
        }
      }
    } //div.skyimg_text_wrap
  } //span.skyimg_text_sky_wrap
} //a.skyimg_section_linkBox
