div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house {
  margin-top: 40px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li {
  width: 24%;
  margin-bottom: 30px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li:not(:nth-child(4n+4)) {
  margin-right: 13px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div {
  width: 100%;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info {
  width: 100%;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p {
  width: 100%;
  display: flex;
  align-items: center;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p div.card_collections_house_list_user_info_div {
  margin-left: 10px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p div.card_collections_house_list_user_info_div p.card_collections_house_list_user_info_name {
  font-size: 15px;
  color: #424242;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p div.card_collections_house_list_user_info_div p.card_collections_house_list_user_info_name span.house_user_info_flw {
  color: #35c5f0;
  font-weight: bold;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_user_info a.card_collections_house_list_user_info_p div.card_collections_house_list_user_info_div span.card_collections_house_list_user_info_content {
  font-size: 12px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div fieldset.card_collections_house_list_img_wrap {
  width: 100%;
  height: 270px;
  margin: 10px 0px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div fieldset.card_collections_house_list_img_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div p.card_collections_house_list_content {
  color: #424242;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_icon_wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_icon_wrap > span > span {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #424242;
}
div.card_collections_wrap div.card_collections_inner_wrap div.card_collections_house ul.card_collections_house_list li.card_collections_house_list_li div.card_collections_house_list_div div.card_collections_house_list_icon_wrap svg {
  fill: #fff;
  stroke: #848484 !important;
  stroke-width: 1px !important;
}/*# sourceMappingURL=collections.css.map */